@use '@angular/cdk/overlay-prebuilt.css';

.cdk-overlay-backdrop {
  background-color: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(2px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    @apply font-sans bg-slate-50 text-slate-900 antialiased;
  }
}
