@use 'variables' as *;
@use 'utilities';
@use '@angular/cdk/overlay-prebuilt.css';

.cdk-overlay-backdrop {
  background-color: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(2px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: $font-sans;
  background-color: $color-bg-app;
  color: $color-text-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
